
a:link, a:hover, a:visited{
	text-decoration: none;
	color: white;
}
ul li{
	text-align: center;
	display: inline-block;
	font-size: 30px;
	float: left;
	font-family: "helvetica", sans-serif;
	margin-left: 20px;
	margin-top: 20px;
}
.nav{
	background-color: #414141;
	width: 100%;
	height: 70px;
}
.home{
	margin-left: 30%;
}
.title{
	font-size: 70px;
}
.title2{
	font-size: 60px;
}
.title, .title2{
	font-family: "helvetica", sans-serif;
	font-weight: bold;
	margin-top: 35px;
	color: orange;
}
.title, .title2, .petweek, .blog{
	display: inline-block;
	float: left;
	margin-bottom: 35px;
	margin-left: 15px;
}
.social {
	float:right;
}
.social p{
	display: inline-block;
	font-family: "helvetica", sans-serif;
	font-size: 20px;
	float: left;
	margin-top: 15px;
}
.social img{
	float:left;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 5px;
}
.mainimg{
	margin-bottom: 35px;
	margin-top: 35px;
	text-align: center;
}
.underimg{
	margin-top: 35px;
	margin-left: 30px;
}
.petweek, .blog{
	width: 45%;
	padding-left: 25px;
	box-sizing:	border-box;
}
.petweek h2, .blog h2{
	font: 35px "helvetica", sans-serif;
	color: orange;
	padding-bottom: 10px;
}
.petweek img{
	display: inline-block;
	float: left;
	width: 150px;
	padding-right: 10px;
}
.tagline{
	font: 25px "helvetica", sans-serif;
	clear:both;
	margin-left: 15px;
	width: 95%;
}
.vol img{
	display: inline-block;
	float: left;
	width: 250px;
}










